* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(21, 160, 21);
}

a {
  text-decoration: none;
}

nav,
nav ul {
  display: flex;
}

nav {
  background-color: rgb(21, 160, 21);
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.58);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.58);
  z-index: 1000;
}

nav p {
  margin-left: 20px;
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

nav ul {
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: black;
}

nav ul li a:hover {
  color: white;
}

nav ul li {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 20px;
  display: block;
}

.landingPage {
  height: 100vh;
  background-image: url(/images/AsaWhite2.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  font-size: 2.7rem;
  font-weight: 550;
}

.landingPage div {
  margin: 0 250px;
}

.landingPage div p span {
  color: rgb(21, 160, 21);
}

.btn {
  color: black;
  background-color: rgb(21, 160, 21);
  padding: 8px 20px;
  border-radius: 5px;
}

.btn:hover {
  background-color: transparent;
  color: rgb(21, 160, 21);
  border: 2px solid rgb(21, 160, 21);
}

.about {
  height: 100vh;
  background-color: rgb(30, 30, 30);
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h1 {
  margin: 20px auto;
  margin-bottom: 100px;
  padding-bottom: 5px;
  border-bottom: solid white 4px;
}

.about img {
  width: 525px;
  height: auto;
  margin-right: 100px;
  border-radius: 5px;
}

.aboutPics {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  width: 800px;
  text-align: right;
}

.videoContainer video {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.skills {
  height: 100vh;
  text-align: center;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.skills h1 {
  margin-bottom: 25px;
}

.skillsImgs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.skillsImgs img {
  width: 450px;
  display: block;
}

.skills ul {
  margin-top: 40px;
}

.skills ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.skills ul li img {
  height: 50px;
  margin: 5px 10px;
}

.about2 {
  color: white;
  text-align: center;
  background-color: rgb(30, 30, 30);
  height: 100%;
}

.about2 div {
  width: 100%;
}

.about2 div video {
  width: 100%;
}

.contact {
  color: black;
  font-size: 1.5rem;
  background-color: rgb(230, 230, 230);
  height: 100%;
  text-align: center;
}

.logo {
  width: 50px;
}

.resume {
  width: 100%;
  height: auto;
}

.resume img {
  width: 100%;
  max-width: 750px;
  height: auto;
}

footer {
  text-align: center;
  color: white;
  background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .landingPage {
    text-align: center;
  }

  .landingPage div {
    margin: auto;
  }

  .about {
    height: 100%;
    width: 100%;
    text-align: center;
    max-width: 100%;
  }

  .about img {
    width: 100%;
    margin: 0;
  }

  .btn {
    padding: 0;
  }

  .aboutPics {
    flex-direction: column;
    justify-content: center;
    align-items: right;
  }

  .videoContainer {
    width: 100%;
    text-align: center;
  }

  .videoContainer video {
    width: 100%;
    margin-bottom: 0;
    height: auto;
    margin: auto;
  }

  .skills {
    height: 100%;
    justify-content: center;
  }
  .skillsImgs img {
    width: 100%;
  }

  .skillsImgs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
